.uls-user-language-form-div label{
   margin-right: 10px;
}
.uls-user-language-form-div .uls_submit_div{
   margin-top: 10px;
}
.uls-user-language-form-div .uls_user_language_message .success{
   margin: 10px 20px;
   color: green;
   font-weight: bold;
}
.uls-user-language-form-div .uls_user_language_message .error{
   margin: 10px 20px;
   color: red;
   font-weight: bold;
}
.uls-language-link-switch a{
   margin: 0px 5px;
}
.uls-language-link-switch span{
   margin: 0px 5px;
   color: #000000;
}
div.wrap > form table.form-table.cmb_metabox{
   width: 100%;
}
